<!DOCTYPE html>
<html>
<head>
	<title>Dashboard - Lilin</title>
	<!--Import CSS-->
	<link type="text/css" rel="stylesheet" href="assets/css/materialize.min.css"  media="screen,projection"/>
	<link type="text/css" rel="stylesheet" href="assets/css/style.css" />
	<!--Meta Tag-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
	<!--Start Navbar-->
	<div class="navbar-fixed">
		<nav>
			<div class="nav-wrapper">
				<div class="nav-wrapper">
					<div class="container">
						<p href="#!" class="brand-logo left">
							Notifikasi
						</p>
						<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">&#xE5D2;</i></a>
						<ul class="right">
							<li>
								<a href="notification.html" data-activates="notification" class="dropdown-button" style="background-color:rgba(0,0,0,0.1)">
									<!--Jika ada notif ganti jadi <i class="material-icons">&#xE7F4;</i> -->
									<i class="material-icons">&#xE7F5;</i>
								</a>
							</li>
							<li>
								<a href="#!" data-activates="dropdown" class="dropdown-button more"><i class="material-icons">&#xE5D4;</i></a>
								<ul id="dropdown" class="dropdown-content">
									<li><a href="faq.html">FAQ</a></li>
									<li><a href="about.html">About</a></li>
									<li><a href="settings.html">Settings</a></li>
									<li class="divider"></li>
									<li><a href="#">Logout</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
	</div>
	<!--End Navbar-->
	
	<!--Start Sidebar-->
	<ul class="side-nav" id="mobile-demo">
		<li class="profile">
			<p>Alvira Mohamad</p>
		</li>
		<li><a href="dashboard.html"><i class="material-icons">&#xE871;</i>Dashboard</a></li>
		<li><a href="kompetitor_snmptn.html"><i class="material-icons">&#xE242;</i>Kompetitor SNMPTN</a></li>
		<li><a href="kalender.html"><i class="material-icons">&#xE8DF;</i>Kalender</a></li>
	</ul>
	<!--End Sidebar-->
	
	<!--Start Preloader-->
	<div class="preloader">
		<div class="preloader-wrapper small active">
		  <div class="spinner-layer spinner-blue">
			<div class="circle-clipper left">
			  <div class="circle"></div>
			</div><div class="gap-patch">
			  <div class="circle"></div>
			</div><div class="circle-clipper right">
			  <div class="circle"></div>
			</div>
		  </div>

		  <div class="spinner-layer spinner-red">
			<div class="circle-clipper left">
			  <div class="circle"></div>
			</div><div class="gap-patch">
			  <div class="circle"></div>
			</div><div class="circle-clipper right">
			  <div class="circle"></div>
			</div>
		  </div>

		  <div class="spinner-layer spinner-yellow">
			<div class="circle-clipper left">
			  <div class="circle"></div>
			</div><div class="gap-patch">
			  <div class="circle"></div>
			</div><div class="circle-clipper right">
			  <div class="circle"></div>
			</div>
		  </div>

		  <div class="spinner-layer spinner-green">
			<div class="circle-clipper left">
			  <div class="circle"></div>
			</div><div class="gap-patch">
			  <div class="circle"></div>
			</div><div class="circle-clipper right">
			  <div class="circle"></div>
			</div>
		  </div>
		</div>
	</div>
	<!--End Preloader-->
	
	<!--Start Content-->
	<div class="loader">
		<div class="container" id="notifikasi">
			<ul class="collection">
				<li class="collection-item dismissable">
					<div>
						<a href="#!">
							<p class="items">We hope you have enjoyed using Materialize! If you feel Materialize has helped you out</a>
							<p class="time"><i class="material-icons">&#xE192;</i>Yesterday at 20.00</p>
						</a>
					</div>
				</li>
				<li class="collection-item dismissable">
					<div>
						<a href="#!">
							<p class="items">We hope you have enjoyed using Materialize! If you feel Materialize has helped you out</a>
							<p class="time"><i class="material-icons">&#xE192;</i>Yesterday at 20.00</p>
						</a>
					</div>
				</li>
				<li class="collection-item dismissable">
					<div>
						<a href="#!">
							<p class="items">We hope you have enjoyed using Materialize! If you feel Materialize has helped you out</a>
							<p class="time"><i class="material-icons">&#xE192;</i>Yesterday at 20.00</p>
						</a>
					</div>
				</li>
				<li class="collection-item dismissable">
					<div>
						<a href="#!">
							<p class="items">We hope you have enjoyed using Materialize! If you feel Materialize has helped you out</a>
							<p class="time"><i class="material-icons">&#xE192;</i>Yesterday at 20.00</p>
						</a>
					</div>
				</li>
				<li class="collection-item dismissable">
					<div>
						<a href="#!">
							<p class="items">We hope you have enjoyed using Materialize! If you feel Materialize has helped you out</a>
							<p class="time"><i class="material-icons">&#xE192;</i>Yesterday at 20.00</p>
						</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<!--End Content-->
	<!--Import jQuery-->
	<script type="text/javascript" src="assets/js/jquery.js"></script>
	<script type="text/javascript" src="assets/js/materialize.min.js"></script>
	<script type="text/javascript" src="assets/js/main.js"></script>
	
</body>
</html>